@import url("https://fonts.googleapis.com/css?family=Dosis");
/* Validated by W3C CSS Validation Service */
.extensions {
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
}

.extension {
  border: 3px solid black;
  border-radius: 25px;
  width: 300px;
  height: 100px;
  padding: 10px;
  background-color: rgb(175, 175, 175);
  -ms-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

.extension:hover {
  border: 3px solid black;
  background-color: rgb(200, 200, 200);
  -ms-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #3778ff;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 36px;
  line-height: 45px;
  border-radius: 25px;
  transition: 0.4s;
  margin: 10px;
  font-weight: bold;
  text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
}
#navbar #logo {
  padding: 0;
  margin: 10px;
  line-height: 35px;
  height: 69px;
  border-radius: 100%;
}
#navbar a:hover, #navbar a.active {
  background-color: #214899;
  color: white;
}
#navbar .banner {
  transition: 0.4s;
  height: 69px;
}

#navbar-right {
  float: right;
}

#wrapper {
  margin-top: 60px;
  padding-top: 30px;
  font-size: 30px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

#team-image {
  background-image: url("/assets/images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 5;
  margin: -30px;
}

#company-description {
  background-image: url("/assets/images/group_picture5.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  display: flex;
}
#company-description * {
  transition: 0.4s;
}
#company-description .text {
  padding: 20px;
  background-color: #3778ff;
  width: 40%;
  float: left;
  display: inline;
}
#company-description .not_text {
  float: right;
  display: inline;
  width: 35%;
  background-image: linear-gradient(to right, #3778ff, rgba(0, 0, 0, 0));
}

#production-image {
  background-image: url("/assets/images/prod-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -30px;
  position: relative;
  z-index: 5;
  height: 100vw;
}

.centered {
  width: 70%;
  height: 50%;
  margin-left: auto;
  padding: 7% 0;
}

.hidden {
  visibility: hidden;
}

.image {
  width: 100%;
}

.item {
  background-color: #3778ff;
}

.first {
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin {
  margin-top: -60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.behind {
  z-index: 1;
}

.infront {
  z-index: 10;
}

#footer {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  position: sticky;
  bottom: 0;
  z-index: 99;
}
#footer a {
  text-decoration: underline;
}
#footer a:link {
  color: black;
}
#footer a:hover {
  background-color: white;
}
#footer a:visited {
  color: black;
}

.VP {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  min-height: 300px;
  /* .gradient.blue.last
  *
  * background-image: linear-gradient(to left, $primary_color, rgba(0, 0, 0, 0)) */
}
.VP .left {
  float: left;
}
.VP .right {
  float: right;
}
.VP .text {
  position: relative;
  width: 30%;
  height: 300px;
  text-shadow: -0.5px 1px 0 rgba(0, 0, 0, 0.4);
}
.VP .text.blue {
  background-color: #3778ff;
}
.VP .text.white {
  background-color: white;
}
.VP span.nom {
  font-weight: 600;
}
.VP .gradient {
  width: 45%;
  height: 300px;
}
.VP .gradient.white {
  background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0));
}
.VP .gradient.blue {
  background-image: linear-gradient(to left, #3778ff, rgba(0, 0, 0, 0));
}/*
.VP .img-wrapper {
  height: 300px;
  width: 300px;
  background-color: #3778ff;
}
.VP .img-wrapper img {
  width: 100%;
  padding: 5px;
}*/

.VP.first {
  margin-top: -30px;
}
.VP.first .text {
  padding-top: 30px;
}

#VPS {
  display: block;
  width: 100%;
}

.bgm {
  background-image: url("/assets/images/vp-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
}

.membre {
  border: 3px solid black;
  border-radius: 25px;
  width: 300px;
  height: 200px;
  padding: 10px;
  display: inline-block;
  background-color: #295ac0;
  margin: 30px;
  transition: 0.25s ease;
  color: white;
  text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
}

.membre:hover {
  background-color: #3778ff;
  transition: 0.2s;
  text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  #navbar {
    padding: 20px 10px !important;
    position: relative;
    height: 10%;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    padding: 6px;
    text-shadow: -0.5px 1px 0 rgba(0, 0, 0, 0.4);
  }
  #navbar #logo, #navbar .banner {
    display: inline;
    float: none;
    height: 35px;
    width: 35px;
    margin: 0;
  }

  #navbar-right {
    float: none;
    display: inline;
  }

  #company-description {
    background-image: url("/assets/images/group_picture.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100%;
    display: flex;
  }
  #company-description * {
    transition: 0.4s;
  }
  #company-description .text {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    float: none;
    display: inline;
    color: white;
    text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
  }
  #company-description .not_text {
    float: none;
    display: inline;
    width: 0%;
    background-image: linear-gradient(to right, #3778ff, rgba(0, 0, 0, 0));
  }

  #wrapper {
    margin-top: -20px;
  }

  #VPS {
    width: 100%;
    margin: 0;
    display: initial;
  }

  .VP {
    width: 90%;
    height: 200px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    transition: 0.25s ease;
    color: white;
    text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
    display: inline;
  }
  .VP .gradient {
    display: none;
  }
  .VP .img-wrapper {
    width: 200px;
    margin-top:15px;
  }
  .VP .gradient {
    display: none;
  }
  .VP .img-wrapper {
    width: 200px;
    margin-top:15px;
;}
  .VP .img-wrapper {
    width: 200px;
    margin-top:15px;
    display:none;
  }
  .VP .img-wrapper img {
    order: 2;
    float: none !important;
    background-color: none;
    border: none;
  }
  .VP .text {
    order: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white;
    float: none !important;
  }
  .VP .white {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .VP .blue {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .membre {
    border: 3px solid black;
    border-radius: 25px;
    width: 90%;
    height: 200px;
    padding: 10px;
    display: block;
    background-color: #295ac0;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.25s ease;
    color: white;
    text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
  }

  .membres {
    margin: 0;
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
