/* Validated by W3C CSS Validation Service */

* {
	margin: 0px !important;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
}

html,
body {
	height: 100%;
	font-family: "Arial", sans-serif;
}

h1 {
	margin: 0px;
}

main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	/* the bottom margin is the negative value of the footer's height */
}

header {
	background: #0094ea;
	/*text-transform:bold; */
}

footer {
	height: 30px;
	background-color: #0094ea;
}

#hello {
	text-align: left;
}

.txt {
	padding: 0 10%;
	background: #E6E6E6;
}

#title {
	text-transform: uppercase;
	font-size: 40px;
}

#aboutme {
	font-family: "Arial", sans-serif;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	/*background-color: black;*/
	text-decoration: uderlined;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	width: 100%;
	background-color: #0094ea;
	height: 46px;
}

#nav {
	width: 100%;
	height: 46px;
	background-color: #0094ea;
}

li {
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: #2a3fde;
	height: 18px;
	margin: 0px
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #2a3fde;
}

li a:hover:not(.active) {
	padding: 9px 11px;
	border: 5px solid black;
}

.active {
	background-color: #4CAF50;
}

.warning {
	Color: red;
}